@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

   //  img.avatar {
   //      filter: grayscale(1);
   //      -webkit-filter: greyscale(1);
   //  }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {  
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

   .tag {
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 10rem;
      background-color: lighten($theme-color, 15%);
      margin-right: .5rem;
      color: white;
    }
    

}
